<form class="position-relative">
  <textarea
    id="kt_forms_widget_3_input"
    class="form-control border-0 p-0 pr-10 resize-none"
    rows="1"
    placeholder="Comment..."
    [(ngModel)]="comment"
  ></textarea>
  <div class="position-absolute top-0 right-0 mt-n1 mr-n2">
    <span class="btn btn-icon btn-sm btn-hover-icon-primary">
      <i class="flaticon2-clip-symbol icon-ms"></i>
    </span>
    <span class="btn btn-icon btn-sm btn-hover-icon-primary">
      <i class="flaticon2-pin icon-ms"></i>
    </span>
  </div>
</form>
